{{> header }}
<body>
  <h1>Tupperware Render</h1>
  <h3>root id: {{ reqParams.id }} store: {{reqParams.store}} </h3>
  <div id="populateContent">

<pre>
{{stringContent}} <br />
</pre>

  </div>
</body>




{{> footer }}


</html>
